{% extends 'base.html' %}

{% block title %}Account Details{% endblock %}

{% block breadcrumb %}
    <a href="{{ url_for('index') }}">🏠 Home</a> > 📜 Account Details
{% endblock %}

{% block content %}

    <div class="account-summary">
        <h1>Account Details</h1>
        <p><strong>Account Number:</strong> {{ account.account_number }}</p>
        <p><strong>Account Type:</strong> {{ account.type }}</p>
        <p><strong>Balance:</strong> {{ account.balance }} BGN</p>

        {% if account.type == 'Saving' %}
            <p><strong>Interest Rate:</strong> {{ account.interest_rate }}%</p>
        {% endif %}
    </div>
{% endblock %}
